{% extends "base.html" %}

{% block title %}
  <title>Search -SoundBox</title>
{% endblock %}



{% block search %}
<div class="col-md-8">
{% if songs%}
<h1>{{songs.count}} songs found</h1>
  <table class="table  table-hover ">
  <thead>
    <tr class="success">
      
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Genre</th>
    
      

    </tr>
  </thead>
  <tbody>
  {% for song in songs %}
    <tr>
      
      <td id="{{song.pk}}">{{song.title|truncatewords:4}}</td>      
      <td>{{song.artist}}</td>
      <td>{{song.album}}</td>
      <td>{{song.genre}}</td>
 
      
    </tr> 
   {% endfor %}
  </tbody>
</table>

{% else %}
<h1>No results found</h1> 
{% endif %}

</div>


<div class="col-md-4">
<div id="player">
<img src="" id="pic" class="img-rounded" alt="Rounded Image" style="min-height:300px;height:300px;">
<audio id="song" controls>
<source id="sound" src="" type="audio/mpeg">
</audio>
<h2 id="title"  class="text-success">Title</h2>
<h3 id="artist">Artist</h3>
<h2 id="views" class="text-muted">views</h2>
</div>
</div>

<div id="userinfo" class="col-md-4">
 <div class="list-group">
  <h4  class="list-group-item active">
   My History {{user.name}}
  </h4>

  <p class="list-group-item">{{playlists.count}} Playlists 
  </p>
  <p class="list-group-item">57 Upvotes 
  </p>
  <p class="list-group-item">{{userlog.count}} Songs played till now</p>
</div>
</div>

  {% endblock %}