<html ng-app="music">

<head>

   <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script-->
   <script type="text/javascript" src="{{STATIC_URL}}darkly/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/music.js"></script>
    
    <link rel="stylesheet" href="{{STATIC_URL}}darkly/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="{{STATIC_URL}}darkly/bootswatch.min.css">
    <!--link rel="stylesheet" href="http://bootswatch.com/bower_components/font-awesome/css/font-awesome.min.css" media="screen"-->
   
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script-->

    {% block title %}
    {% endblock %}
</head>
<body>



        <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header-solid">
           <a class="navbar-brand" href="{% url 'home' %}"> <i class="fa fa-play-circle-o fa-1x"> SoundBox</i></a>
                      
        </div>
    
        <div class="col-md-6">
          <form type="get" action="/search/" class="navbar-form" role="search">
        <div class="form-group">
  <div class="input-group">
    <!--span class="input-group-addon">Search</span-->
    <input type="text" class="form-control" placeholder="Love Story,Taylor Swift" name='q'>
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit" autofocus><i>Search!</i></button>
    </span>
  </div>
  </div>
        </form>

        </div>  


           <ul class="nav navbar-nav navbar-right">
        
          {% if user.is_authenticated %}
            <li class="dropdown">
          <a  href="{% url 'home' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i><b> {{ user.first_name.capitalize }} </b><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">About</a></li>
          
          </ul>
        </li>
            
	         <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> <b>Logout</b></a></li>
    
            {% else %}
          <li><a href="{% url 'login' %}">Login</a>
              
          </li>     
           {% endif %}
                 
          </ul> </div>
      </div>
    </header>
    <!-- <br/> -->
    <br/>
   <div class="container" ng-controller="addtoplayer">
   <div class="row">
   
   
    {% block content %}
    


    {% endblock content %}

    {% block search %}

    {% endblock %}
    </div>


   </div>

 
    <!--script src="{{STATIC_URL}}darkly/jquery-1.10.2.min.js"></script-->
<script src="{{STATIC_URL}}darkly/bootstrap.min.js"></script>
 
</body>
<!--footer>
 <p>
          Built with lots of <span style="color: #C0392B;">♥</span> and little bit of Python
        </p>
</footer>
</div>
</html>