{% extends "base.html" %}

{% block title %}
  <title>Home -SoundBox</title>
{% endblock %}

{% block content %}

<div class="col-md-8"> 
<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">Recommended</a></li>
  <li class=""><a href="#search" data-toggle="tab" aria-expanded="false">Trending</a></li>
  <li class=""><a href="#playlist" data-toggle="tab" aria-expanded="false">My Playlists</a></li>
   <li class=""><a href="#friends" data-toggle="tab" aria-expanded="false">Friends Activity</a></li>
</ul>

<div id="myTabContent" class="tab-content">
  
 
  <div class="tab-pane fade active in" id="home">   
  {% if rec_list %}
  <div class="row">
      <div class="btn-group btn-group-justified">
  <a   data-toggle="tab" id="all_btn" href="#" class="btn btn-default">All</a>
  <a  data-toggle="tab" href="#" id="artist_btn" class="btn btn-default">Artist</a>
  <a  data-toggle="tab" href="#" id="album_btn" class="btn btn-default">Album</a>
   <a data-toggle="tab" href="#" id="genre_btn" class="btn btn-default">Genre</a>
    <a data-toggle="tab" href="#"  id="collab_btn" class="btn btn-default">Collaborative</a>
</div>
</div>
<br/>
<!--All-->
  <div class="row" id="all">    
    <table class="table  table-hover ">
  <thead>
    <tr class="success">
      
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Genre</th>
      <th>Year</th>
      <th></th>
      

    </tr>
  </thead>
  <tbody>
  {% for song in rec_list %}
    <tr>
      
      <td id="{{song.pk}}">{{song.title|truncatewords:4}}</td>
      <td>{{song.artist}}</td>
      <td>{{song.album}}</td>
      <td>{{song.genre}}</td>
      <td>{{song.year}}</td>
      
    </tr> 
   {% endfor %}
  </tbody>
</table>

   </div><!--end of all-->

   <!--Artist-->
    <div class="row" id="artist">    
    <table class="table  table-hover ">
  <thead>
    <tr class="success">
      
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Genre</th>
      <th>Year</th>
      <th></th>
      

    </tr>
  </thead>
  <tbody>
  {% for song in artist_list %}
    <tr>
      
      <td id="{{song.pk}}">{{song.title|truncatewords:4}}</td>
      <td>{{song.artist}}</td>
      <td>{{song.album}}</td>
      <td>{{song.genre}}</td>
      <td>{{song.year}}</td>
      
    </tr> 
   {% endfor %}
  </tbody>
</table>

   </div><!--end of Artist-->

   <!--album-->
    <div class="row" id="album">    
    <table class="table  table-hover ">
  <thead>
    <tr class="success">
      
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Genre</th>
      <th>Year</th>
      <th></th>
      

    </tr>
  </thead>
  <tbody>
  {% for song in album_list %}
    <tr>
      
      <td id="{{song.pk}}">{{song.title|truncatewords:4}}</td>
      <td>{{song.artist}}</td>
      <td>{{song.album}}</td>
      <td>{{song.genre}}</td>
      <td>{{song.year}}</td>
      
    </tr> 
   {% endfor %}
  </tbody>
</table>

   </div><!--end of album-->
<!--genre-->
 <div class="row" id="genre">    
    <table class="table  table-hover ">
  <thead>
    <tr class="success">
      
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Genre</th>
      <th>Year</th>
      <th></th>
      

    </tr>
  </thead>
  <tbody>
  {% for song in genre_list %}
    <tr>
      
      <td id="{{song.pk}}">{{song.title|truncatewords:4}}</td>
      <td>{{song.artist}}</td>
      <td>{{song.album}}</td>
      <td>{{song.genre}}</td>
      <td>{{song.year}}</td>
      
    </tr> 
   {% endfor %}
  </tbody>
</table>

   </div><!--end of genre-->
   <!--collab-->
    <div class="row" id="collab">    
    <table class="table  table-hover ">
  <thead>
    <tr class="success">
      
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Genre</th>
      <th>Year</th>
      <th></th>
      

    </tr>
  </thead>
  <tbody>
  {% for song in collab_list %}
    <tr>
      
      <td id="{{song.pk}}">{{song.title|truncatewords:4}}</td>
      <td>{{song.artist}}</td>
      <td>{{song.album}}</td>
      <td>{{song.genre}}</td>
      <td>{{song.year}}</td>
      
    </tr> 
   {% endfor %}
  </tbody>
</table>

   </div><!--end of collab-->



   {% else %}
   <h3> Listen to some songs!</h3>
   {% endif %}
  </div>
   


  <div class="tab-pane fade" id="search">
     <table class="table  table-hover ">
  <thead>
    <tr class="success">
      
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Genre</th>
      <th>Year</th>
      <th>Views</th>
      

    </tr>
  </thead>
  <tbody>
  {% for song in songs %}
    <tr>
      
      <td id="{{song.pk}}">{{song.title|truncatewords:4}}</td>
      <td>{{song.artist}}</td>
      <td>{{song.album}}</td>
      <td>{{song.genre}}</td>
      <td>{{song.year}}</td>
      <td>{{song.views}}</td>
      
    </tr> 
   {% endfor %}
  </tbody>
</table>

  </div>

  
  <div class="tab-pane fade" id="playlist">
   
     <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Create Playlist</button>
     <!--button type="button" class="btn btn-danger btn-small" data-toggle="modal" data-target=".bs-example-modal-sm">Delete Playlist</button-->
     <hr>
   {% if playlists %}

     <ul>
     {% for p in playlists %}
      <li class="list-group-item">
    <span class="badge">{{p.songs.count}}</span>
    <a href="/getplaylist/{{p.pk}}">{{p.name}}</a>
  </li>
     {% endfor %}
  {% else %}
    <p>You haven't created any playlists!</p>
      {% endif %}

      <!-- Button trigger modal -->
     
      <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
                      <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h5 class="modal-title">Create Playlist</h5>
                    </div>
                    
                    <div class="modal-body">
                       <form method="post" action="/playlist/">
                       <div class="form-group">
                        <input type="text" class="form-control" placeholder="Playlist Name" name="name" required>
                    </div>
                    {% csrf_token %}
                   
                  
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary"><i>Done</i></button>
                        </div>
                      </form>
                    </div>
        </div>
      </div>

   </div>
  </div>

    <div class="tab-pane fade" id="friends">
{% if friends_feed %}
    <h2> Your friends recent activities</h2>

    <table class="table table-striped table-hover ">
  <thead>
    <tr class="success">
      <th>User</th>  
      <th>Song</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    {% for u in friends_feed %}
    <tr>
      <td id="{{u.song.pk}}">{{u.song|truncatewords:4}}</td>
      <td>{{u.user.username}}</td>
      <td>{{u.time}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% else %}
<h2>Follow some friends </h2>
{% endif %}
    </div>

</div>
</div>







<!--div class="col-md-4">
<div id="player">
<img src="" id="pic" class="img-rounded" alt="Rounded Image" style="min-height:300px;height:300px;">
<audio id="song" controls>
<source id="sound" src="" type="audio/mpeg">
</audio>
<h2 id="title"  class="text-success">Title</h2>
<h2 id="views" class="text-muted">views</h2>
<h2 id="artist" class="text-muted">Artist</h2>
<div id="success_result" class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <p><strong>successfully Added</strong></p>
</div>
<div class="btn-group">
    <a href="#" class="btn btn-default">+</a>
    <div class="btn-group">
      <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Add to playlist
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        {% for p in playlists %}
    <li><a name="playlist_name" id="{{p.pk}}" href="#">{{p.name}}</a></li>
  {% endfor %}
       </ul>
    </div>
  </div>
</div>
</div-->
<div class="col-md-4">
<div id="player">
<img src="" id="pic" class="img-rounded" alt="Rounded Image" style="min-height:300px;height:300px;">
<audio id="song" controls>
<source id="sound" src="" type="audio/mpeg">
</audio>
<h2 id="title"  class="text-success">Title</h2>
<h3 id="artist">Artist</h3>
<h2 id="views" class="text-muted">views</h2>
<div id="success_result" class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <p><strong>successfully Added</strong></p>
</div>
<div class="btn-group">
    <a href="#" class="btn btn-default">+</a>
    <div class="btn-group">
      <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Add to playlist
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        {% for p in playlists %}
    <li><a name="playlist_name" id="{{p.pk}}" href="#">{{p.name}}</a></li>
  {% endfor %}
       </ul>
    </div>
  </div>
</div>
</div>

<div id="userinfo"class="col-md-4">
 <div class="list-group">
  <h4  class="list-group-item active">
   My History {{user.name}}
  </h4>
 {% if playlists %} 
  <p class="list-group-item">{{playlists.count}} Playlists 
  </p>
  {% else %}
   <p class="list-group-item">No Playlists Created 
  </p>
  {% endif %}
  {% if userlog %}
  <p class="list-group-item">{{userlog.count}} Songs played till now</p>
 {% else %}
  <p class="list-group-item"> No  Songs played till now
  </p>
  {% endif %}
</div>
</div>
 





{% endblock %}