{% extends 'base.html' %}

{% block title %}
<script src="{{STATIC_URL}}js/jquery.form.js"></script>
  <script src="{{STATIC_URL}}js/profile.js"></script>
  <title>Profile -SoundBox</title>
{% endblock %}



{% block content %}
<div class="col-md-8">

<ul class="nav nav-tabs">
  
  <li class="active"><a href="#search" data-toggle="tab">Find Friends</a></li>
  <li><a href="#home" data-toggle="tab">Following</a></li>
  <li><a href="#profile" data-toggle="tab">Followers</a></li>
  <li><a href="#history" data-toggle="tab">My History</a></li>
</ul>
<div id="myTabContent" class="tab-content">
 
  <div class="tab-pane fade active in" id="search">

 
          
                 <form id="form" type="get" action="/profile/"  role="search">
              <div class="form-group">
        <div class="input-group">
          <!--span class="input-group-addon">Search</span-->
          <input type="text" class="form-control" placeholder="Name or UserName or Email" name='q' required>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" autofocus><i>Find</i></button>
          </span>
        </div>
        </div>
              </form>
        <div id="results">
          {% if results %}
          {% for usr in results %}
              <div class="col-md-4"><div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title">{{usr.username}}</h3></div>
              <div class="panel-body">
                <h4>{{usr.first_name.capitalize}} {{usr.last_name.capitalize}}</h4>
                {{usr.email}}<br/>
            <a name="follow" id="{{usr.pk}}" href="#" class="btn btn-primary btn-xs">Follow</a>
            </div>
            </div>
            </div>

          {% endfor %}
          {% endif %}
        </div>
     </div>




  <div class="tab-pane fade" id="home">

    {% if following %}

      {% for usr in following%}

      <div class="col-md-4"><div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title">{{usr.user.username}}</h3></div>
              <div class="panel-body">
                <h4>{{usr.user.first_name.capitalize}} {{usr.user.last_name.capitalize}}</h4>
                {{usr.user.email}}<br/>
            <a name="follow" id="{{usr.pk}}" href="#" class="btn btn-primary btn-xs">Follow</a>
            </div>
            </div>
            </div>

      {% endfor %}

    {% else %}
    <h3 class="text-danger">You aren't following anyone!</h3>
    {% endif %}
    
  </div>
  <div class="tab-pane fade" id="profile">
    
    {% if followed %}

      {% for usr in followed %}

      <div class="col-md-4"><div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title">{{usr.user.username}}</h3></div>
              <div class="panel-body">
                <h4>{{usr.user.first_name.capitalize}} {{usr.user.last_name.capitalize}}</h4>
                {{usr.user.email}}<br/>
            <a name="follow" id="{{usr.pk}}" href="#" class="btn btn-primary btn-xs">Follow</a>
            <a id="followed" href="#" class="btn btn-danger btn-xs">Following</a>
            </div>
            </div>
            </div>

      {% endfor %}

    {% else %}
    <h3 class="text-danger"> You have no follwers! </h3>
    {% endif %}
  </div>

     
   



   <div class="tab-pane fade" id="history">
    	<h3 class="text-success">Your last 10 songs</h3>
   	<table class="table table-striped table-hover ">
  <thead>
    <tr class="success">
      <th>Song</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    {% for h in history %}
    <tr>
      <td>{{h.song.title}}</td>
      <td>{{h.time}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

  </div>

</div>


</div>



{% endblock %}